:root {
	--Dark-Gray: hsl(0, 0%, 63%);
	--Black: hsl(0, 0%, 0%);
	--White: hsl(0, 0%, 100%);
	--Very-Dark-Gray: hsl(0, 0%, 27%);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* position: relative; */
	font-family: "Spartan", sans-serif;
	font-size: 12px;
	/* background: rgb(255, 255, 255); */
	background: rgb(214 214 214);
}

.main-wrapper {
	background: rgb(255, 255, 255);
	position: relative;
	max-width: 500px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	outline: 0;
	border: none;
	background: 0;
}

button:hover {
	cursor: pointer;
}

h1,
h2,
p.shop-now a {
	color: black;
}

.shop-link:hover p.shop-now a {
	color: var(--Dark-Gray);
}

.shop-link:hover .arrow-icon img {
	opacity: 0.4;
}

p {
	color: var(--Dark-Gray);
}

/* hamburger header */

header {
	position: relative;
}

.mobile-nav {
	margin-bottom: -18px;
	z-index: 3;
	position: relative;
}

.mobile-header {
	height: 350px;
}

.mobile-header-image {
	position: relative;
	padding: 2.5rem 1rem;
	display: flex;
	/* background-image: url(../images/mobile-image-hero-1.jpg); */
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top 100% left 0;
	height: 350px;
}

/* .mobile-header-wrap > div.black-background {
	position: relative;
} */

.desktop-header-wrap {
	display: none;
}

.hamburger-menu {
	top: 42px;
	left: 15px;
	position: relative;
}

.logo {
	position: absolute;
	left: 43%;
	top: 41px;
	z-index: 1;
}

.hidden-nav {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	height: 100px;
	display: flex;
	width: 100%;
	z-index: 2;
	visibility: visible;
	transition: all 0.5s ease-in-out;
}

.hidden-nav.hidden,
.hidden-nav.hidden nav {
	visibility: hidden;
	height: 0;
}

.black-background {
	background-color: rgb(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: 1;
	visibility: visible;
	animation: fade ease 0.5s;
}

.black-background.hidden {
	display: none;
}

@-webkit-keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.x-icon {
	display: flex;
	align-items: center;
	margin-left: 1.2rem;
}

.hidden-nav nav {
	display: flex;
	width: 100%;
	gap: 66px;
}

.hidden-nav ul {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 10px;
}

.hidden-nav a {
	text-transform: lowercase;
	font-weight: 700;
	/* font-size: 13px; */
	display: block;
	padding: 10px;
}

.slideshow-container {
	position: relative;
}

.nav-arrows {
	position: absolute;
	top: -50px;
	right: 0;
	display: flex;
	background-color: black;
}

.left button,
.right button {
	width: 55px;
	height: 50px;
}

.left button:hover,
.right button:hover {
	background-color: #4a4a4a;
}

.nav-arrows img {
	width: 10px;
}

/* /hamburger header */

/* slide-content */
.slide-content {
	background-color: white;
	padding: 3.5rem 1.5rem;
}

h1 {
	margin-bottom: 15px;
}

.description {
	line-height: 18px;
	margin-bottom: 3rem;
}

.shop-link {
	display: flex;
	gap: 2rem;
}

.shop-now {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 11px;
}
/* /slide-content */

/* about */
.about {
	background-color: white;
	padding: 3rem 1.5rem;
}

h2 {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 6px;
	margin-bottom: 11px;
}

.about p {
	line-height: 18px;
}

/* /about */

/* about-images */
.about-dark,
.about-light {
	width: 100%;
	height: 238px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.about-dark {
	background-image: url(../images/image-about-dark.jpg);
}

.about-light {
	background-image: url(../images/image-about-light.jpg);
}
/* /about-images */

footer {
	margin: 2rem 0;
	padding: 2rem;
	background: white;
	max-width: 500px;
	margin: auto;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 1259px) {
	.desktop-header-wrap {
		display: none !important;
	}
}

@media (min-width: 1260px) {
	.main-wrapper {
		display: grid;
		/* height: 100vh; */
		grid-template-areas:
			"desktop-header desktop-header slide slide"
			"about-dark about about about-light";
		grid-template-rows: 537px 0fr;
		grid-template-columns: 424px 5fr 2fr 424px;
		max-width: 1440px;
	}

	.nav-arrows {
		display: flex;
		position: absolute;
		bottom: 0;
		left: 0;
		top: auto;
		right: auto;
		background-color: black;
	}

	.left button,
	.right button {
		max-width: 85px;
		width: 5.9vw;
		height: 75px;
	}

	.mobile {
		display: none;
	}

	.desktop-header-wrap {
		grid-area: desktop-header;
		display: block;
		background-image: url(../images/desktop-image-hero-1.jpg);
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: top 0 left 0;
		width: 100%;
	}

	.desktop-nav {
		display: flex;
		margin-left: 4rem;
		margin-top: 3rem;
		gap: 44px;
		align-items: center;
	}

	.logo {
		position: static;
	}

	.desktop-nav ul {
		display: flex;
		gap: 13px;
	}

	.desktop-nav li {
		list-style: none;
		color: white;
		text-transform: lowercase;
		font-weight: 700;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* .desktop-nav li::after {
		content: "";
		border-bottom: 3px solid white;
		width: 10px;
		display: none;
		margin: 0 auto;
	} */

	span {
		width: 0px;
		height: 2px;
		background: white;

		margin-top: -18px;
		transition: all 0.2s ease-in-out;
	}

	.desktop-nav a:hover + span {
		width: 10px;
	}

	/* .desktop-nav a:hover .desktop-nav li::after {
		display: block;
	} */

	.desktop-nav a {
		padding: 20px 10px;
		margin-top: -20px;
	}

	.slideshow-container {
		grid-area: slide;
		position: relative;
	}

	.slide-content {
		background-color: white;
		padding: 7rem 82px 0;
	}

	h1 {
		font-size: 39px;
		margin-bottom: 30px;
	}

	.about {
		grid-area: about;
		background-color: white;
		padding: 4.5rem 38px 0;
	}

	.about-dark {
		grid-area: about-dark;
	}

	.about-light {
		grid-area: about-light;
	}

	.about-dark,
	.about-light {
		height: 250px;
	}

	footer {
		max-width: 1440px;
	}

	.black-background {
		display: none;
	}
}

@media (min-width: 1260px) and (max-width: 1436px) {
	.main-wrapper {
		grid-template-columns: 30vw 5fr 2fr 30vw;
	}

	.desktop-header-wrap {
		background-size: auto 104%;
		background-position: top 0 left 10%;
	}

	.slide-content {
		padding: 7vw 82px 0;
	}

	.about {
		padding: 5vw 38px 0;
	}
}
